<!DOCTYPE html>
  <html lang ="en-GB">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="styles.css">
      <title>Hogwarts</title>
    </head>
    <body>
      <img class="hog-logo" src="https://s-media-cache-ak0.pinimg.com/736x/f6/07/af/f607af5bc60d1b2837add83c70a2aa45--harry-potter-birthday-invitations-party-invitations.jpg" alt="Hogwarts crest"/>
      <nav>
        <a href="/students/new">Add Student</a>
      </nav>
    <%= yield %>
    </body>
  </html>